---
//ts@no-check
import "../styles/general.css";
const { event } = Astro.props;
---

<article>
  <div class="info">
    <h1>{new Date(event.event_date).getDate().toString().padStart(2, "0")}</h1>
    <h2>{event.event_title}</h2>
    <p class="kategori">{event.event_category}</p>
    <p>
      {event.event_start}-{event.event_end}
    </p>
    <a href="">Læs mere her</a>
  </div>
  <img src={`/events_img/${event.event_img}`} alt="" />
</article>

<style>
  a {
    background-color: #ff671f;
    border: none;
    border-radius: 20px;
    padding: 5px;
    text-decoration: none;
    color: #233249;
    font-family: "Roboto Condendensed_Black", sans-serif;
    font-weight: 600;
  }

  h1 {
    font-size: 70px;
  }
  h2 {
    padding-bottom: 5px;
    font-size: 18px;
  }
  p {
    padding-bottom: 5px;
    font-size: 14px;
  }

  .kategori {
    color: #ff671f;
    padding-bottom: 5px;
    font-size: 16px;
  }

  article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid #233249;
  }

  .info {
    padding: 10px;
    text-align: center;
  }

  @media (min-width: 850px) {
    article {
      display: flex;
      flex-direction: column;
      border-top: none;
      border-right: 1px solid #233249;
    }
  }
</style>
