---
//@ts-nocheck

import Layout from "../../layouts/Layout.astro";
import "../../styles/general.css";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
export async function getStaticPaths() {
  //   const response = await fetch('...');
  //   const data = await response.json();

  const url =
    "https://uagccnhppkfznxjxjhqo.supabase.co/rest/v1/kalender?select=*";
  const key =
    "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVhZ2NjbmhwcGtmem54anhqaHFvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQyNjc2NzMsImV4cCI6MjA1OTg0MzY3M30.ttsCu__TMxLQcc1YtwCLSpgQ5X758Qq8fFknzUhoHFI";

  const options = {
    headers: {
      apikey: key,
    },
  };

  const data = await fetch(url, options).then((res) => res.json());
  console.log(data);
  return data.map((event) => {
    return {
      params: { slug: event.event_slug },
      props: { event },
    };
  });
}

const { event } = Astro.props;
---

<Layout>
  <Header />
  <h1>{event.event_title}</h1>
  <hr
    style="margin-left: 20px; margin-right: 20px; height: 1.5px; background-color: #ccc; border: none;"
  />
  <h3 class="date">{event.event_date}</h3>

  <article class="event">
    <div class="columns">
      <div class="description">
        <div class="headings"><h3>Beskrivelse</h3></div>
        <p>{event.event_description}</p>
        <button class="signup-btn">Tilmeld dig her</button>
      </div>
      <div style="width: 1.5px; background-color: #ccc;"></div>
      <div class="info">
        <div class="headings"><h3>Information</h3></div>
        <p>
          <strong>Hvor:</strong>
          {event.event_location}
        </p>
        <br />
        <p><strong>Hvornår:</strong> {event.event_time}</p>
        <br />
        <p><strong>Medbring:</strong> {event.event_bring}</p>
        <br />
        <p><strong>Vi sørger for:</strong> {event.event_provide}</p>
      </div>
    </div>
    <img src={`/events_img/${event.event_img}`} alt="Billede af event" />
  </article>
  <hr
    style="margin-left: 20px; margin-right: 20px; height: 1.5px; background-color: #ccc; border: none;"
  />

  <Footer />
</Layout>

<style>
  img {
    width: 90%;
    max-width: 500px;
    margin: auto;
  }
  h1 {
    font-size: 100px;
    color: rgb(35, 50, 73);
    margin-left: 20px;
  }
  .date {
    color: rgb(35, 50, 73);
    margin-left: 20px;
  }
  strong {
    color: #00142d;
  }
  .event {
    gap: 15px;
    padding: 15px;
    color: #00142d;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .headings {
    background-color: #ff671f;
    padding: 8px;
    margin-bottom: 20px;
  }

  .columns {
    display: grid;
    grid-template-columns: 2fr 1.5px 1fr;
    gap: 15px;
  }

  .signup-btn {
    background-color: #ff671f;
    padding: 10px 19px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    margin: 30px auto 0 auto; /* top, right, bottom, left */
    display: block; /* sikrer centrering af knap */
  }

  .signup-btn:hover {
    background-color: #ff671f;
  }

  /* MOBIL VERSION */
  @media (max-width: 768px) {
    .event {
      grid-template-columns: 1fr;
      padding: 10px;
    }

    .columns {
      display: grid;
      grid-template-columns: 1fr;
    }

    h1 {
      font-size: 70px;
    }
  }
</style>
